<div class="form-group" ng-class="{'has-error': description == ''}">
  <label for="inputRequirement{{label}}" class="col-sm-2 control-label">{{title}}</label>
  <div class="col-sm-8">
    <textarea id="inputRequirement{{label}}" name="inputRequirement{{label}}" rows="{{rows}}" ng-model="description" placeholder="{{title}}..." class="form-control">{{description}}</textarea>
  </div>
  <span class="help-block has-error" ng-show="!description || description == ''">{{title}} is required.</span>
</div>
