<div class="form-group" ng-class="{'has-error': description == ''}">
  <label for="inputRequirement{{label}}" class="col-sm-2 control-label">{{title}}</label>
  <div class="col-sm-8">
    <input id="inputRequirement{{label}}" name="inputRequirement{{label}}" type="text" placeholder="{{title}}..." ng-model="description" value="{{description}}" class="form-control">
  </div>
  <span class="help-block has-error" ng-show="!description || description == ''">{{title}} is required.</span>
</div>
