<div class="panel panel-primary text-center">
  <div class="panel-heading">Your workspace</div>
  <div ng-controller="WorkspaceController as vm">

    <div ng-repeat="req in vm.workspaceReqs">
      <gr-wrkspc-req requirement=req> </gr-wrkspc-req>
    </div>
  </div>
</div>
