<span class="pull-left">
  <span class="diffAdd" ng-if="vm.showAdd()">
    <span><i class="glyphicon glyphicon-plus"></i>
    </span>
    <span>{{vm.diff.title}}
    </span>
  </span>

  <span class="diff diffOrg" ng-if="vm.showOrg()">
    <span><i class="glyphicon glyphicon-chevron-right"></i>
    </span>
    <span>{{vm.diff.title}}
    </span>

  </span>

  <span class="diffRem" ng-if="vm.showRem()">
    <span><i class="glyphicon glyphicon-minus"></i>
    </span>
    <span>{{vm.diff.title}}
    </span>

  </span>
</span>
