<div class="diffAdd" ng-if="vm.showAdd()">
  <div class="inline"><i class="glyphicon glyphicon-plus"></i>
  </div>
  <div class="inline">{{vm.diff.content}}
  </div>
  <br class="clearBoth" />
</div>

<div class="diff diffOrg" ng-if="vm.showOrg()">
  <div class="inline"><i class="glyphicon glyphicon-chevron-right"></i>
  </div>
  <div class="inline">{{vm.diff.content}}
  </div>
  <br class="clearBoth" />
</div>

<div class="diffRem" ng-if="vm.showRem()">
  <div class="inline"><i class="glyphicon glyphicon-minus"></i>
  </div>
  <div class="inline">{{vm.diff.content}}
  </div>
  <br class="clearBoth" />
</div>
