<div class="panel panel-default">
  <div class="changesSummary">
    <div class="pull-left addedLines" ng-if="req.added>0">+{{req.added}}&nbsp</div>
    <div class="pull-left removedLines" ng-if="req.removed>0">-{{req.removed}}&nbsp </div>
  </div>
  <div class="panel-heading">
    <div class="pull-left collapseIndicator"><i ng-class="vm.getCollapseIndicator()" ng-click="vm.toggleCollapse()"></i></div>
    {{req.title}}
    <div class="pull-right">
      <a href="" class="btn btn-default btn-toggle-view" ng-disabled="vm.collapsed" ng-click="vm.toggleView()">{{vm.getSwitchViewBtn()}}</a>
      <a ui-sref="requirements.details.edit({id:req.id})" class="btn btn-primary">Edit<i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>
  </div>
  <div class="panel-body" ng-hide="vm.collapsed">
    <div ng-transclude>
    </div>
  </div>
</div>
