<div>
  <div ng-repeat="chunk in req.desc">
    <gr-diff-desc-req diff="chunk" view="vm.view"> </gr-diff-desc-req>
  </div>

  <div>
    <span>
      <h4 class="pull-left">Low Level:</h4>
      <span ng-repeat="chunk in req.lowLevel" class=".pull-left">
        <gr-diff-tag-req diff="chunk" view="vm.view"> </gr-diff-tag-req>
      </span>
    </span>
  </div>
  <div>
    <br class="clearBoth" />
    <span>
      <h4 class="pull-left">High Level:</h4>
      <div ng-repeat="chunk in req.highLevel">
        <gr-diff-tag-req diff="chunk" view="vm.view"> </gr-diff-tag-req>
      </div>
    </span>
  </div>
  <br class="clearBoth" />
  <div>
    <span>
      <h4 class="pull-left">Test:</h4>
      <div ng-repeat="chunk in req.test">
        <gr-diff-tag-req diff="chunk" view="vm.view"> </gr-diff-tag-req>
      </div>
    </span>
  </div>
  <br class="clearBoth" />
  <div>
    <span>
      <h4 class="pull-left">System:</h4>
      <div ng-repeat="chunk in req.system">
        <gr-diff-tag-req diff="chunk" view="vm.view"> </gr-diff-tag-req>
      </div>
    </span>
  </div>
  <br class="clearBoth" />


</div>
