<div ui-view>
  <div class="panel panel-default">
    <div class="panel-heading">Releases
      <div class="pull-right ">
        <a role="button" type="submit" class="btn btn-primary search-reqs-btn" ng-click="vm.openReleaseEdit()">
          <span class="glyphicon glyphicon-plus"></span>Add new release</a>
      </div>
    </div>
    <div class="panel-body">
      <div>

      </div>
      <table class="table" ng-hide="vm.foundReleases.length == 0">
        <thead>
          <tr>
            <td>Id</td>
            <td>Name</td>
          </tr>
        </thead>
        <tr ng-repeat="release in vm.foundReleases">
          <td>{{release.id}}.</td>
          <td><a ng-click="vm.openReleasePreview(release)">{{release.name}}</a></td>
          <td>
            <a class="btn btn-primary" ng-click="vm.openReleaseEdit(release)">
                        Edit<i class="glyphicon glyphicon-chevron-right"></i>
                    </a>
          </td>
        </tr>
      </table>
      <uib-pagination class="pull-right" ng-model="vm.currentPage" total-items="vm.releasesNr[0]" max-size="vm.maxPages" boundary-links="true" ng-change="vm.update()" items-per-page="vm.numPerPage">
      </uib-pagination>

    </div>
  </div>
</div>
</div>
