<div class="modal-header">
  <h3 class="modal-title">Edit Release</b>
  </h3>
</div>
<div class="modal-body">
  <form name="ReleaseForm" class="form-horizontal">
    <fieldset>
      <gr-display-title description="{{vm.release.name}}" title="Release" label="relTitle"></gr-display-title>
      <gr-display-description description="{{vm.release.description}}" title="Release Description" label="relTitle" rows="2"></gr-display-description>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="vm.close()">Close</button>
</div>
