<div class="form-group">
  <label for="inputRequirement{{label}}" class="col-sm-2 control-label">{{title}}</label>
  <div class="col-sm-8">
    <textarea disabled id="inputRequirement{{label}}" name="inputRequirement{{label}}" rows="{{rows}}" placeholder="{{title}}..." class="form-control">{{description}}</textarea>
  </div>
</div>
