<div class="form-group">
  <label for="{{label}}ToWhichApplies" class="col-sm-2 control-label">{{title}}</label>
  <div class="col-sm-8">
    <span ng-repeat="tag in tags" id="{{label}}ToWhichApplies">
      <button class="btn btn-default btn-tag">
        {{tag.name}}
      </button>
    </span>
  </div>
</div>
