<div class="form-group">
  <label for="inputRequirement{{label}}" class="col-sm-2 control-label">{{title}}</label>
  <div class="col-sm-8">
    <input ng-disabled="true" id="inputRequirement{{label}}" name="inputRequirement{{label}}" type="text" placeholder="{{title}}" value="{{description}}" class="form-control">
  </div>
</div>
