<div class="form-group">
  <label for="{{vm.label}}ToWhichApplies" class="col-sm-2 control-label">{{vm.title}}</label>
  <div class="col-sm-8">
    <span ng-repeat="tag in vm.tags" id="{{vm.label}}ToWhichApplies">
      <button class="btn btn-default btn-tag" ng-click="vm.notifyClick(tag)">
        {{tag.name}}
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
      </button>
    </span>
  </div>
</div>
