<div class="modal-header">
  <h3 class="modal-title">View Product</b>
  </h3>
</div>
<div class="modal-body">
  <form name="productForm" class="form-horizontal">
    <fieldset>
      <gr-display-title description="{{vm.product.name}}" title="product" label="prodTitle"></gr-display-title>
      <gr-display-description description="{{vm.product.description}}" title="Product Description" label="prodTitle" rows="2"></gr-display-description>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="vm.close()">Close</button>
</div>
