<div ui-view>
  <div class="panel panel-default">
    <div class="panel-heading">Products
      <div class="pull-right ">
        <a ng-click="vm.openProductEdit()" role="button" type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-plus"></span>Add new product</a>
      </div>
    </div>
    <div class="panel-body">
      <div>

      </div>
      <table class="table" ng-hide="vm.foundProducts.length == 0">
        <thead>
          <tr>
            <td>Id</td>
            <td>Name</td>
          </tr>
        </thead>
        <tr ng-repeat="product in vm.foundProducts">
          <td>{{product.id}}.</td>
          <td><a ng-click="vm.openProductPreview(product)">{{product.name}}</a></td>
          <td>
            <a class="btn btn-primary" ng-click="vm.openProductEdit(product)">
                        Edit<i class="glyphicon glyphicon-chevron-right"></i>
                    </a>
            <a class="btn btn-danger" ng-click="vm.openProductRemove(product)">
                        Remove<i class="glyphicon glyphicon-remove"></i>
                    </a>
          </td>
        </tr>
      </table>
      <uib-pagination class="pull-right" ng-model="vm.currentPage" total-items="vm.productsNr[0]" max-size="vm.maxPages" boundary-links="true" ng-change="vm.update()" items-per-page="vm.numPerPage">
      </uib-pagination>

    </div>
  </div>
</div>
</div>
