<div class="modal-header">
  <h3 class="modal-title">{{vm.title}}</b>
  </h3>
</div>
<div class="modal-body">
  <form name="ProductForm" class="form-horizontal">
    <fieldset>
      <gr-display-title description="{{vm.product.name}}" title="Product" label="prodTitle"> </gr-display-title>
      <gr-display-description description="{{vm.product.description}}" title="Product Description" label="prodDescription"></gr-display-description>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <a class="btn btn-danger" ng-click="vm.remove(vm.product)">
              Delete</a> </span>
  <button class="btn btn-warning" type="button" ng-click="vm.close()">Close</button>
</div>
