<div class="modal-header">
  <h3 class="modal-title">{{vm.title}}</b>
  </h3>
</div>
<div class="modal-body">
  <form name="TagForm" class="form-horizontal">
    <fieldset>
      <gr-editable-title description="vm.tag.name" title="Tag" label="Tag Title"> </gr-editable-title>
      <gr-editable-description description="vm.tag.description" title="Tag Description" label="tagDescription"></gr-editable-description>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <a class="btn btn-primary" ng-click="vm.save()">
              Save<i class="glyphicon glyphicon-chevron-right"></i>
          </a> </span>
  <button class="btn btn-warning" type="button" ng-click="vm.close()">Close</button>
</div>
