<div class="modal-header">
  <h3 class="modal-title">{{vm.title}}</b>
  </h3>
</div>
<div class="modal-body">
  <form name="tagForm" class="form-horizontal">
    <fieldset>
      <gr-display-title description="{{vm.tag.name}}" title="tag" label="tagTitle"> </gr-display-title>
      <gr-display-description description="{{vm.tag.description}}" title="Tag Description" label="tagDescription"></gr-display-description>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <a class="btn btn-danger" ng-click="vm.remove(vm.tag)">
              Delete</a> </span>
  <button class="btn btn-warning" type="button" ng-click="vm.close()">Close</button>
</div>
