<div class="modal-header">
  <h3 class="modal-title">Preview Tag</b>
  </h3>
</div>
<div class="modal-body">
  <form name="tagForm" class="form-horizontal">
    <fieldset>
      <gr-display-title description="{{vm.tag.name}}" title="tag" label="tagTitle"></gr-display-title>
      <gr-display-description description="{{vm.tag.description}}" title="tag Description" label="tagitle" rows="2"></gr-display-description>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="vm.close()">Close</button>
</div>
