<div ui-view>
  <div class="panel panel-default">
    <div class="panel-heading">Tags
      <div class="pull-right ">
        <a ng-click="vm.openTagEdit()" role="button" type="submit" class="btn btn-primary search-reqs-btn">
          <span class="glyphicon glyphicon-plus"></span>Add new tag</a>
      </div>
    </div>
    <div class="panel-body">
      <div>

      </div>
      <table class="table" ng-hide="vm.foundReleases.length == 0">
        <thead>
          <tr>
            <td>Id</td>
            <td>Name</td>
          </tr>
        </thead>
        <tr ng-repeat="tag in vm.foundTags">
          <td>{{tag.id}}.</td>
          <td><a ng-click="vm.openTagPreview(tag)">{{tag.name}}</a></td>
          <td>
            <a class="btn btn-primary" ng-click="vm.openTagEdit(tag)">
                        Edit<i class="glyphicon glyphicon-chevron-right"></i>
                    </a>
            <a class="btn btn-danger" ng-click="vm.openTagRemove(tag)">
                        Remove<i class="glyphicon glyphicon-remove"></i>
                    </a>
          </td>
        </tr>
      </table>
      <uib-pagination class="pull-right" ng-model="vm.currentPage" total-items="vm.tagsNr[0]" max-size="vm.maxPages" boundary-links="true" ng-change="vm.update()" items-per-page="vm.numPerPage">
      </uib-pagination>

    </div>
  </div>
</div>
</div>
