<div class="panel panel-{{vm.filterColorClass}}">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Select {{vm.filterType}}</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Filter {{vm.filterType}} tags" ng-model="TagsFilter">
                    </div>
                </form>
                <div class="navbar-form navbar-right">
                    <button type="submit" class="btn btn-default" ng-click="vm.removeAllTags()" ng-disabled="vm.selectedTags.length == 0"><span class="glyphicon glyphicon-remove"></span>Remove all</button>
                    <button type="submit" class="btn btn-{{vm.filterColorClass}}" ng-click="vm.addAllTags()" ng-disabled="vm.availableTags.length == 0"><span class="glyphicon glyphicon-plus"></span>Add all</button>
                </div>
            </div>
        </div>
    </nav>
    <div class="panel-body">
        <div class="panel panel-default tag-panel">
            <div class="panel-heading">
                <h5 class="panel-title">Add search filter:</h5>
            </div>
            <div class="panel-body">
                <span ng-repeat="tag in vm.availableTags | filter:TagsFilter ">
                            <button class="btn btn-default btn-tag" ng-click="vm.addTag(tag)">
                                <span class="glyphicon glyphicon-plus"></span>{{tag.name}}
                </button>
                </span>
            </div>
        </div>
        <div class="panel panel-{{vm.filterColorClass}} tag-panel">
            <div class="panel-heading">
                <h5 class="panel-title">Search for:</h5>
            </div>
            <div class="panel-body">
                <span ng-repeat="tag in vm.selectedTags | filter:TagsFilter">
                            <button class="btn btn-{{vm.filterColorClass}} btn-tag" ng-click="vm.removeTag(tag)">
                                <span class="glyphicon glyphicon-remove"></span>{{tag.name}}
                </button>
                </span>
            </div>
        </div>
    </div>
</div>
