<div class="panel panel-default">
  <div class="panel-heading">Specify search parameters
    <div class="pull-right ">
      <a ui-sref="requirements({query:vm.query})" ng-click="vm.updateQuery()" role="button" type="submit" class="btn btn-primary search-reqs-btn">
        <span class="glyphicon glyphicon-search"></span>Search requirements</a>
    </div>
  </div>
  <div class="panel-body">

    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" role="search">
          <span>
            <span class="glyphicon glyphicon-search"></span>Search</span>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Specify query" ng-model="vm.query">
          </div>
        </form>
      </div>
    </div>
    <div ui-view>

      <div ui-view="productFilter"> </div>
      <div ui-view="releaseFilter"> </div>
      <div ui-view="levelFilter"> </div>
      <div ui-view="tagFilter"> </div>
    </div>
  </div>
</div>
