<div class="modal-header">
  <h3 class="modal-title">Select <b>{{vm.loLevel.name}}</b> requirement for <b>{{vm.requirement.name}}</b></h3>
</div>
<div class="modal-body">
  <uib-pagination class="pull-right" ng-model="vm.currentPage" total-items="  vm.reqsNr[0]" max-size="vm.maxPages"  ng-change="vm.update()" items-per-page="vm.numPerPage">
  </uib-pagination>
  <table class="table" ng-hide="vm.foundReqs.length == 0">
    <thead>
      <tr>
        <td>Id</td>
        <td>Name</td>
      </tr>
    </thead>
    <tr ng-repeat="requirement in vm.requirements">
      <td>{{requirement.id}}.</td>
      <td>{{requirement.name}}</td>
      <td>
        <a class="btn btn-primary" ng-click="vm.select(requirement)">
          Select<i class="glyphicon glyphicon-chevron-right"></i>
      </a>
      </td>
    </tr>
  </table>


</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Close</button>
</div>
