<div class="modal-header">
  <h3 class="modal-title">Remove selected Requirements?</h3>
</div>
<div class="modal-body">
  <button class="btn btn-danger" type="button" ng-click="mod.ok()">Remove</button>
  <button class="btn btn-warning" type="button" ng-click="mod.cancel()">Cancel</button>
</div>
