<div class="modal-header">
  <h3 class="modal-title">Preview</b>
  </h3>
</div>
<div class="modal-body">
  <form name="RequirementForm" class="form-horizontal">
    <fieldset>
      <gr-display-title description="{{vm.requirement.name}}" title="Requirement Title" label="reqTitle"></gr-display-title>
      <gr-display-description description="{{vm.requirement.description}}" title="Requirement Description" label="reqTitle" rows="2"></gr-display-description>
      <gr-display-tags tags="[vm.requirement.level]" title="Level" label="level"></gr-display-tags>
      <gr-display-tags ng-if="vm.requirement.hiLevel" tags="[vm.requirement.hiLevel]" title="High Level" label="hiLevel"></gr-display-tags>
      <!--TODO ng-if fix to use vm function-->
      <gr-display-tags ng-if="vm.requirement.level.id != 4 && vm.requirement.loLevel.length > 0" tags="vm.requirement.loLevel" title="Low Level" label="loLevel"></gr-display-tags>
      <gr-display-tags tags="vm.requirement.releases" title="Releases" label="releases"></gr-display-tags>
      <gr-display-tags tags="vm.requirement.products" title="Products" label="products"></gr-display-tags>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <!-- TODO remove ui-sref and ng-click - use only one function -->
  <a class="btn btn-primary" ui-sref="requirements.details({id:vm.requirement.id})" ng-click="vm.close()">
              View <i class="glyphicon glyphicon-search"></i>
          </a> </span>
  <a class="btn btn-primary" ui-sref="requirements.details.edit({id:vm.requirement.id})" ng-click="vm.close()">
              Edit <i class="glyphicon glyphicon-chevron-right"></i>
          </a> </span>
  <button class="btn btn-warning" type="button" ng-click="vm.close()">Close</button>
</div>
