<div ui-view>
  <div class="panel panel-default">
    <div class="panel-heading">Found Requirements
      <div class="pull-right ">
        <a ui-sref="search.filter" role="button" type="submit" class="btn btn-primary search-reqs-btn">
          <span class="glyphicon glyphicon-search"></span>Modify query</a>
      </div>
    </div>
    <div class="panel-body">
      <div>
        <!--  <div class="alert alert-danger" role="alert" ng-show="vm.foundReqs.length==0">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span> No requirements found matching your query.
        </div>
        <div class="alert alert-danger" role="alert" ng-show="vm.systemFilters.length == 0 && vm.productFilters.length == 0 && vm.releaseFilters.length == 0 && vm.levelFilters.length == 0">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span> Please specify search parameters.
        </div>
        <div>-->
      </div>
      <div class="panel panel-default" ng-hide="vm.systemFilters.length == 0 && vm.productFilters.length == 0 && vm.releaseFilters.length == 0 && vm.levelFilters.length == 0 && vm.tagFilters.length==0">
        <div class="panel-heading">
          <h5 class="panel-title">Search parameters:</h5>
        </div>
        <div>
          <span ng-repeat="filter in vm.systemFilters" ng-hide="vm.systemFilters.length == 0">
            <button class="btn btn-primary btn-tag">{{filter.name}}</button>
          </span>
        </div>
        <div>
          <span ng-repeat="filter in vm.productFilters" ng-hide="vm.productFilters.length == 0">
            <button class="btn btn-success btn-tag">{{filter.name}}</button>
          </span>
        </div>
        <div>
          <span ng-repeat="filter in vm.releaseFilters" ng-hide="vm.releaseFilters.length == 0">
            <button class="btn btn-info btn-tag">{{filter.name}}</button>
          </span>
        </div>
        <div>
          <span ng-repeat="filter in vm.levelFilters" ng-hide="vm.levelFilters.length == 0">
            <button class="btn btn-warning btn-tag">{{filter.name}}</button>
          </span>
        </div>
        <div>
          <span ng-repeat="filter in vm.tagFilters" ng-hide="vm.tagFilters.length == 0">
            <button class="btn btn-danger btn-tag">{{filter.name}}</button>
          </span>
        </div>
      </div>
      <button class="btn btn-primary" ng-click="vm.openReleaseChooser()" ng-disabled="vm.noneReqSelected()">Applay for release</button>
      <button class="btn btn-primary" ng-click="vm.openProductChooser()" ng-disabled="vm.noneReqSelected()">Applay for product</button>
      <button class="btn btn-primary" ng-click="vm.openTagsChooser()" ng-disabled="vm.noneReqSelected()">Applay tags</button>
      <button class="btn btn-warning" ng-click="vm.removeSelected()" ng-disabled="vm.noneReqSelected()">Remove selected</button>



      <table class="table" ng-hide="vm.foundReqs.length == 0">
        <thead>
          <tr>
            <td>
              <input type="checkbox" ng-change="vm.toggleSelection()" ng-model="vm.isAllSelected">
            </td>
            <td>Id</td>
            <td>Name</td>
          </tr>
        </thead>
        <tr ng-repeat="requirement in vm.foundReqs">
          <td>
            <input type="checkbox" ng-model="requirement.isSelected" ng-change=vm.toggleReqSelection(requirement.id)>
          </td>
          <td>{{requirement.id}}.</td>
          <td><a ui-sref=".details({id:requirement.id})">{{requirement.name}}</a></td>
          <td>

            <a class="btn btn-primary" ui-sref="requirements.details.edit({id:requirement.id, parentId:vm.requirement.hiLevel.id})">
                        Edit<i class="glyphicon glyphicon-chevron-right"></i>
                    </a>
            <a class="btn btn-danger" ng-click="vm.removeReq(requirement.id)">
                        Remove<i class="glyphicon glyphicon-remove"></i>
                    </a>
          </td>
        </tr>
      </table>
      <uib-pagination class="pull-right" ng-model="vm.currentPage" total-items="vm.reqsNr[0]" max-size="vm.maxPages" boundary-links="true" ng-change="vm.update()" items-per-page="vm.numPerPage">
      </uib-pagination>

    </div>
  </div>
</div>
</div>
