<div ui-view>
  <div class="panel panel-default">
    <div class="panel-heading">{{vm.requirement.name}}</div>
    <div class="panel-body">
      <form name="RequirementForm" class="form-horizontal">
        <fieldset>

          <gr-display-title description="{{vm.requirement.name}}" title="Requirement Title" label="reqTitle"></gr-display-title>
          <gr-display-description description="{{vm.requirement.description}}" title="Requirement Description" label="reqTitle" rows="2"></gr-display-description>
          <gr-display-tags tags="[vm.requirement.level]" title="Level" label='level'></gr-display-tags>

          <gr-display-tags-clickable ng-if="vm.requirement.hiLevel" tags="[vm.requirement.hiLevel]" title="High Level" callback="vm.openReqPreview(req)" label='hiLevel'></gr-display-tags-clickable>
          <!--TODO ng-if fix to use vm function-->
          <gr-display-tags-clickable ng-if="vm.requirement.level.id != 4 && vm.requirement.loLevel.length > 0" tags="vm.requirement.loLevel" title="Low Level" callback="vm.openReqPreview(req)" label='loLevel'></gr-display-tags-clickable>


          <gr-display-tags tags="vm.requirement.releases" title="Releases" label='releases'></gr-display-tags>
          <gr-display-tags tags="vm.requirement.products" title="Products" label='products'></gr-display-tags>
          <gr-display-tags tags="vm.requirement.tags" title="Tags" label='tags'></gr-display-tags>


          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
              <span>
                <a class="btn btn-primary" ui-sref="requirements.details.edit({id:vm.requirement.id})">
                          Edit <i class="glyphicon glyphicon-chevron-right"></i>
                      </a> </span>
              <span class="pull-right">
                <a ui-sref="requirements">
                  <button class="btn btn-default">
                    <i class="glyphicon glyphicon-chevron-left"></i> Back
                  </button>
                </a>
                <a ui-sref="requirements.details.edit({id:0,parentId:vm.requirement.id})" ng-if="vm.requirement.id > 0 && vm.requirement.level.id < 4">
                  <button class="btn btn-primary">
                    <i class="glyphicon glyphicon-arrow-down"></i>Add Lo Level
                  </button>
                </a>
              </span>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
