<div ui-view>
  <div class="panel panel-primary">
    <div class="panel-heading">Select <b>{{vm.loLevel.name}}</b> requirement for <b>{{vm.requirement.reqName}}</b></div>
    <div class="panel-body">
      <table class="table" ng-hide="vm.foundReqs.length == 0">
        <thead>
          <tr>
            <td>Id</td>
            <td>Name</td>
          </tr>
        </thead>
        <tr ng-repeat="requirement in vm.requirements">
          <td>{{requirement.reqId}}.</td>
          <td><a ui-sref=".details({reqId:requirement.reqId})">{{requirement.reqName}}</a></td>
          <td>
            <a class="btn btn-primary" ui-sref="requirements.details.edit({reqId:requirement.reqId})">
              Select<i class="glyphicon glyphicon-chevron-right"></i>
          </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
