<div ui-view>
  <div class="panel panel-primary">
    <div class="panel-heading">{{vm.title}}</div>
    <div class="panel-body">
      <form name="RequirementForm" class="form-horizontal">
        <uib-accordion ng-if="vm.parentRequirement">
          <uib-accordion-group>
            <uib-accordion-heading>
              High level requirement
              <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </uib-accordion-heading>
            <gr-display-title description="{{vm.parentRequirement.name}}" title="Requirement Title" label="reqTitle"></gr-display-title>
            <gr-display-description description="{{vm.parentRequirement.description}}" title="Requirement Description" label="reqTitle" rows="2"></gr-display-description>
          </uib-accordion-group>
        </uib-accordion>
        <fieldset>
          <gr-editable-title description="vm.requirement.name" title="Requirement Name" label="reqTitle"> </gr-editable-title>
          <gr-editable-description description="vm.requirement.description" title="Requirement Description" label="reqDescription"></gr-editable-description>
          <div class="form-group" ng-class="{'has-error': vm.noneLevelThatApplies()}">
            <label for="LowlevelToWhichApplies" class="col-sm-2 control-label">Level</label>
            <div class="col-sm-8">
              <button class="btn btn-primary btn-tag" ng-click="vm.openLevelChooser()">
                <span class="glyphicon glyphicon-plus"></span>Select level</button>
              <span id="LowlevelToWhichApplies" ng-if="vm.requirement.level">
                <button class="btn btn-default btn-tag">
                  {{vm.requirement.level.name}}
                </button>
              </span>
            </div>
            <span class="help-block has-error" ng-show="vm.noneLevelThatApplies()">Requirement Level is required</span>
          </div>


          <div class="form-group" ng-if="vm.requirement.hiLevel" ng-class="{'has-error': vm.noneLevelThatApplies()}">
            <gr-display-tags-clickable tags="[vm.requirement.hiLevel]" title="High Level" callback="vm.openReqPreview(req)" label='hiLevel'></gr-display-tags-clickable>
            <span class="help-block has-error" ng-show="vm.noneLevelThatApplies()">At least one high level requirement is required</span>
          </div>


          <!--TODO ng-if fix to use vm function-->
          <div class="form-group" ng-if="vm.requirement.id > 0 && vm.requirement.loLevel.level.id != 4" ng-class="{'has-error': vm.noneReleasesThatApplies()}">
            <label for="releasesToWhichApplies" class="col-sm-2 control-label">Low level requirements</label>

            <div class="col-sm-8">
              <button class="btn btn-primary btn-tag" ng-click="vm.openLoLevelChooser('lg')">
                <span class="glyphicon glyphicon-plus"></span>Add requirement</button>
              <span ng-repeat="tag in vm.requirement.loLevel" id="releasesToWhichApplies">
                <button class="btn btn-default btn-tag" ng-click="vm.removeLoLevelReq(tag)">
                  <span class="glyphicon glyphicon-remove"></span>{{tag.name}}
                </button>
              </span>
            </div>
            <span class="help-block has-error" ng-show="vm.noneReleasesThatApplies()">At least one release is required</span>
          </div>

          <div class="form-group" ng-class="{'has-error': vm.noneReleasesThatApplies()}">
            <label for="releasesToWhichApplies" class="col-sm-2 control-label">Applies for releases</label>
            <div class="col-sm-8">
              <button class="btn btn-primary btn-tag" ng-click="vm.openReleaseChooser()">
                <span class="glyphicon glyphicon-plus"></span>Add release</button>
              <span ng-repeat="tag in vm.requirement.releases" id="releasesToWhichApplies">
                <button class="btn btn-default btn-tag" ng-click="vm.removeRelease(tag)">
                  <span class="glyphicon glyphicon-remove"></span>{{tag.name}}
                </button>
              </span>
            </div>
            <span class="help-block has-error" ng-show="vm.noneReleasesThatApplies()">At least one release is required</span>
          </div>

          <div class="form-group" ng-class="{'has-error': vm.noneProductsThatApplies()}">
            <label for="productsToWhichApplies" class="col-sm-2 control-label">Applies for products</label>
            <div class="col-sm-8">
              <button class="btn btn-primary btn-tag" ng-click="vm.openProductChooser()">
                <span class="glyphicon glyphicon-plus"></span>Add product</button>
              <span ng-repeat="tag in vm.requirement.products" id="productsToWhichApplies">
                <button class="btn btn-default btn-tag" ng-click="vm.removeProduct(tag)">
                  <span class="glyphicon glyphicon-remove"></span>{{tag.name}}
                </button>
              </span>
            </div>
            <span class="help-block has-error" ng-show="vm.noneProductsThatApplies()">At least one product is required</span>
          </div>

          <div class="form-group">
            <label for="tagsToWhichApplies" class="col-sm-2 control-label">Applied tags</label>
            <div class="col-sm-8">
              <button class="btn btn-primary btn-tag" ng-click="vm.openTagsChooser()">
                <span class="glyphicon glyphicon-plus"></span>Add tag</button>
              <span ng-repeat="tag in vm.requirement.tags" id="tagsToWhichApplies">
                <button class="btn btn-default btn-tag" ng-click="vm.removeTag(tag)">
                  <span class="glyphicon glyphicon-remove"></span>{{tag.name}}
                </button>
              </span>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
              <span>
                <button class="btn btn-primary" ng-click="vm.submit(RequirementForm.$valid)">Save</button>
              </span>
              <span>
                <button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
              </span>
              <span>
                <button class="btn btn-default pull-right" ng-click="vm.back()">
                  <i class="glyphicon glyphicon-chevron-left"></i> Back
                </button>
              </span>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
