<div class="modal-header">
  <h3 class="modal-title">Add Tags</h3>
</div>
<div class="modal-body">
  <span ng-repeat="tag in mod.items">
    <button class="btn btn-default btn-tag" ng-click="$event.preventDefault(); mod.addSelected(tag)">
      <span class="glyphicon glyphicon-plus"></span>{{tag.name}}
    </button>
  </span>
  Selected:
  <span ng-repeat="tag in mod.selected">
    <span><b>{{ tag.name }}{{$last ? '' : ', '}}</b></span>
  </span>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="mod.ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="mod.cancel()">Cancel</button>
</div>
