body {
  background-color: #C6D9F1;
}
.wizard a {
  background: #efefef;
  display: inline-block;
  min-width: 200px;
  margin-right: 5px;
  outline: none;
  position: relative;
  text-decoration: none !important;
  padding: 10px 40px 10px;
}
.wizard .active {
  background: #007ACC;
  color: #fff;
}
form legend {
  color #404040;
  font-size: 32px;
  font-family: 'Cookie', cursive;
  font-weight: normal;
  line-height: 1;
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
}
form button {
  min-width: 80px;
}
form .btn-primary {
  margin-right: 10px;
}
.panel-heading {
  color #404040;
  font-size: 32px;
  font-family: 'Cookie', cursive;
  font-weight: normal;
  line-height: 1;
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
}
.navbar-brand img {
  height: 25px;
  width: 25px
}
.btn-tag {
  height: 20px;
  padding: 0px 10px !important;
  margin: 0px;
}
.panel-body {
  padding: 5px !important;
  min-height: 30px;
}
.navbar {
  margin-bottom: 10px !important;
}
.panel {
  margin-bottom: 5px !important;
}
.panel-heading {
  padding: 5px 20px !important;
}
.glyphicon {
  margin-right: 5px !important;
}
.tag-panel {
  border: 0px !important;
}
div.inline {
  float: left;
  text-align: left
}
.clearBoth {
  clear: both;
}
.diffAdd {
  background-color: #dfd
}
.diffRem {
  background-color: #fee8e9
}
.diffOrg {
  background-color: white
}
.changesSummary {
  position: absolute;
  min-width: 100px;
  margin-top: 10px;
}
.addedLines {
  position: absolute;
  width: 30x;
  background-color: #dfd
}
.removedLines {
  position: absolute;
  margin-left: 35px;
  width: 30px;
  background-color: #fee8e9
}
.btn-toggle-view {
  width: 100px;
}
.collapseIndicator {
  margin-left: 50px;
}


#modal/* Fix for Bootstrap 3 with Angular UI Bootstrap */

.modal {
	display: block;
}

/* Custom dialog/modal headers */

.dialog-header-error { background-color: #d2322d; }
.dialog-header-wait { background-color: #428bca; }
.dialog-header-notify { background-color: #eeeeee; }
.dialog-header-confirm { background-color: #333333; }
	.dialog-header-error span, .dialog-header-error h4,
	.dialog-header-wait span, .dialog-header-wait h4,
	.dialog-header-confirm span, .dialog-header-confirm h4 { color: #ffffff; }

/* Ease Display */

.pad { padding: 25px; }
